In [1]:
import numpy as np
import pandas as pd
import statistics as st
import matplotlib.pyplot as plt

In [ ]:
dt = pd.read_csv("HomeMarketValue.csv")
dt

In [10]:
dt['Square Feet'] = dt['Square Feet'].replace('[,]', '', regex=True).astype(int)
dt['Market Value'] = dt['Market Value'].replace('[$,]', '', regex=True).astype(float)
sf_arr = dt['Square Feet']
mv_arr = dt['Market Value']
ha_arr = dt['House Age']

In [8]:
st.median(sf_arr)

1666.0

In [11]:
st.median(mv_arr)

88500.0

In [12]:
st.median(ha_arr)

28.0

Find Outliers of House Age Column through IQR

In [13]:
q1_ha = ha_arr.quantile(0.25)
q2_ha = ha_arr.quantile(0.5)
q3_ha = ha_arr.quantile(0.75)
IQR_ha = q3_ha - q1_ha
lower_bound_ha = q1_ha - 1.5*IQR_ha
upper_bound_ha = q3_ha + 1.5*IQR_ha

outliers_ha = dt[(ha_arr < lower_bound_ha) | (ha_arr > upper_bound_ha)]
outliers_ha

Empty DataFrame
Columns: [House Age, Square Feet, Market Value]
Index: []

==> There's no outliers at House Age column

In [14]:
print(q1_ha, '\n', q2_ha, '\n', q3_ha)

28.0
 28.0
 32.0

Find Outliers of Square Feet Column through IQR

In [15]:
q1_sf = sf_arr.quantile(0.25)
q2_sf = sf_arr.quantile(0.5)
q3_sf = sf_arr.quantile(0.75)
IQR_sf = q3_sf - q1_sf
lower_bound_sf = q1_sf - 1.5*IQR_sf
upper_bound_sf = q3_sf + 1.5*IQR_sf

outliers_sf = dt[(sf_arr < lower_bound_sf) | (sf_arr > upper_bound_sf)]
outliers_sf

    House Age  Square Feet  Market Value
13         32         2372      114000.0
14         32         2372      113200.0

There are two outliers of Square Feet Column

Find Outliers of Market Value Column through IQR

In [16]:
q1_mv = mv_arr.quantile(0.25)
q2_mv = mv_arr.quantile(0.5)
q3_mv = mv_arr.quantile(0.75)
IQR_mv = q3_mv - q1_mv
lower_bound_mv = q1_mv - 1.5*IQR_mv
upper_bound_mv = q3_mv + 1.5*IQR_mv

outliers_mv = dt[(mv_arr < lower_bound_mv) | (mv_arr > upper_bound_mv)]
outliers_mv

    House Age  Square Feet  Market Value
13         32         2372      114000.0
14         32         2372      113200.0
16         32         2123      116100.0
41         27         1581      120700.0

There are 4 outliers of Market Value Column

In [19]:
print(q1_mv, '\n', q2_mv, '\n', q3_mv)

86575.0
 88500.0
 96525.0

In [17]:
upper_bound_mv

111450.0

In [18]:
lower_bound_mv

71650.0