In [23]:
data=pd.read_csv("422.csv")

In [24]:
data.head()

   Graduation % (X)  Median SAT (Y)
0                93            1315
1                80            1220
2                88            1240
3                68            1176
4                90            1300

In [25]:
data.cov()

                  Graduation % (X)  Median SAT (Y)
Graduation % (X)         55.480442      263.370323
Median SAT (Y)          263.370323     3928.343537

In [27]:
data.corr(method='pearson')

                  Graduation % (X)  Median SAT (Y)
Graduation % (X)          1.000000        0.564147
Median SAT (Y)            0.564147        1.000000

In [3]:
import pandas as pd
data=pd.read_csv("Outliers 4.22.csv")
data.describe()
Q1=data.Square_Feet.quantile(0.25)
Q3=data.Square_Feet.quantile(0.75)
IQR=Q3-Q1
lower_limit = Q1 - 1.5*IQR
upper_limit = Q3 + 1.5*IQR
data[(data.Square_Feet<lower_limit)|(data.Square_Feet>upper_limit)]

    House_Age  Square_Feet  Market_Value
13         32         2372        114000
14         32         2372        113200

In [4]:
import pandas as pd
data=pd.read_csv("Outliers 4.22.csv")
data.describe()
Q1=data.Market_Value.quantile(0.25)
Q3=data.Market_Value.quantile(0.75)
IQR=Q3-Q1
lower_limit = Q1 - 1.5*IQR
upper_limit = Q3 + 1.5*IQR
data[(data.Market_Value<lower_limit)|(data.Market_Value>upper_limit)]

    House_Age  Square_Feet  Market_Value
13         32         2372        114000
14         32         2372        113200
16         32         2123        116100
41         27         1581        120700

In [18]:
import pandas as pd
#using the formula - ordinary way
data=pd.read_csv("421.csv")
graduation = data['Graduation_Percent']
median_sat = data['Median_SAT']
n=len(graduation)
meanGraduation_or=sum(graduation)/len(graduation)
meanMedianSat_or=sum(median_sat)/len(median_sat)
cov_or=sum((graduation[i] - meanGraduation_or) * (median_sat[i] - meanMedianSat_or) 
           for i in range(n)) / (n-1)
cov_or

263.37032312925174

In [15]:
import numpy as np
#using np lib
np.cov(graduation, median_sat)[0, 1]

263.37032312925174

In [16]:
import math
#using the formula without statistics tools
#finding standard deviation of x
var_x_or = sum((x - meanGraduation_or) ** 2 for  x in graduation) / (n-1)
stdev_x_or = math.sqrt(var_x_or)

# finding standard deviation of y
var_y_or = sum((y - meanMedianSat_or) ** 2 for y in median_sat) / (n-1)
stdev_y_or = math.sqrt(var_y_or)
s_x_s_y = stdev_x_or * stdev_y_or
corr_or = cov_or/s_x_s_y
corr_or

0.5641468266974191

In [17]:
np.corrcoef(graduation, median_sat)[0,1]

0.5641468266974192